@media (max-width: 1200px) {
//  from 1200px t0 992px
    .container{
      max-width: 980px;
    }
  .col{
    &-160 {
      width: 166px;
    }
    &-4 {
      width: 47.333%;
      &:last-child{
        margin: 0 auto;
      }
    }
    &-3 {
      width: 39%;
    }
  }
  .hero {
    &__rule-photo {
      top: 83px;
      right: -164px;
      height: 71%;
      opacity: 0.9;
    }
    &__photo-2 {
      top: 68px;
      left: 10px;
      height: 7%;
    }
    &__photo-1 {
      top: 78px;
      height: 7%;
    }
    &__photo-3 {
      bottom: 121px;
      left: 530px;
      height: 7%;
    }
  }

  .page-icon{
    &__photo-box{
      padding: 45px 0;
    }
    &__photo-box_element{
      height: 35px;
    }
  }

  .about-us {
    padding: 90px 0;
    overflow: hidden;
    &_right {
      position: absolute;
      top: 27px;
      right: -69px;
      height: 95%;
    }

  }

  .features{
    padding: 20px 0 70px;
    &_col-4{
      margin-bottom: 30px;
      &:first-child{
        margin-left: 20px;
      }
      &:last-child{
          margin: 0 auto;
          box-shadow: 15px 25px 56px 6px rgb(0 0 0 / 6%);
      }
      &:nth-child(2){
        margin-left: 35px;
      }
    }
    &_shadow{
      box-shadow: none;
    }
  }

  .services {
    padding: 63px 0 110px;
    &_col-4{
      margin-bottom: 40px;
      &:first-child{
        margin-left: 15px;
      }
      &:nth-child(2){
        margin-left: 15px;
      }
       &:last-child{
         box-shadow: 15px 25px 60px -5px rgb(0 0 0 / 10%);

       }
    }
    &__card-box_shadow {
      box-shadow: none;
    }
  }

  .what-we-do{
    &_photo {
      position: absolute;
      top: 97px;
      left: -60px;
      height: 426px;
    }
    &_col-6 {
      padding: 1px 0 0 0;
    }
    &_mean {
      margin-bottom: 50px;
    }
    &__card-box_mean {
      max-width: 359px;
    }
  }

  .funfact{
    &__straight-box {
      padding: 33px 27px;
    }
  }

  .mail-box{
    padding: 0;
    &_photo {
      position: absolute;
      right: -158px;
      top: 57px;
      height: 470px;
    }
    &__card-box_title {
      padding: 104px 0 0;
      max-width: 430px;
      text-align: center;
    }
    &__button-box {
       display: block;
       margin-bottom: 110px;
    }
    &_label {
      margin: 0 0 30px 56px;
    }
    &__card-box_mean {
      text-align: center;
      margin-bottom: 30px;
    }
    &_button {
      margin-left: 164px;
    }
  }

  .plans{
    padding: 80px 0 64px;
    &__mean {
      margin-bottom: 16px;
    }
    &_col-4{
      margin-bottom: 30px;
      &:nth-child(2){
        margin-left: 25px;
      }
      &:last-child{
        box-shadow: 15px 25px 70px -5px rgb(0 0 0 / 7%);

      }
    }
    &__card-box_shadow {
      box-shadow: none;
    }
  }

  .team{
    padding: 80px 0 70px;
    &_col-3{
      margin-bottom: 30px;
      &:nth-child(2){
        margin-left: 90px;
      }
      &:nth-child(4){
        margin-left: 90px;
      }
      &:nth-child(3){
        margin-left: 60px;
      }
      &:nth-child(1){
        margin-left: 60px;
      }
    }
  }

  .testimonials{
    padding: 65px 0 110px;
  }

  .blog-post {
    overflow: hidden;
    padding: 20px 0 88px;
  }

  .footer{
    &__card-box_mean {
      max-width: 216px;
    }
  }
}





@media (max-width: 992px) {
//  from 992px to 768px
  .container{
    max-width: 900px;
  }
  .col{
    &-160 {
      width: 154px;
    }
  }
  .hero{
    &__title {
      font-size: 56px;
      line-height: 66px;
      margin-bottom: 14px;
      padding: 116px 0 0;
    }
    &__rule-photo {
      top: 80px;
      right: -164px;
      height: 70%;
    }
  }
  .page-icon{
    &__photo-box {
      padding: 20px 0 40px;
    }
  }
  .about-us {
    padding: 53px 0;
    &__title {
      line-height: 51px;
    }
    &__mean {
      font-size: 15px;
      line-height: 143%;
      max-width: 471px;
      margin-bottom: 32px;
    }
    &_right {
      top: -37px;
      right: -62px;
      height: 116%;
    }
  }
  .features{
    &_col-4{
      &:first-child {
        margin-left: 15px;
      }
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }

  .services{
    &__title{
      font-size: 43px;
      margin-bottom: 15px;
    }
  }


  .what-we-do{
    &_photo {
      left: -90px;
      height: 411px;
    }
    &__title{
      font-size: 43px;
      line-height: 47px;
      max-width: 465px;
      margin-bottom: 15px;
      }
    &__mean {
      font-size: 15px;
      line-height: 136%;
      max-width: 450px;
      margin-bottom: 43px;
    }
    &_icon{
      height: 91px;
    }
  }


  .funfact {
    padding: 40px 0 36px;
    &__card-box_number {
      font-size: 65px;
      line-height: 150%;
    }
    &__straight-box_photo {
      top: 80px;
    }
  }


  .mail-box {
    &__card-box_title {
      font-size: 43px;
      line-height: 126%;
    }

    &_photo {
      height: 463px;
    }
    &__card-box_mean {
      max-width: 386px;
      font-size: 15px;
    }
  }


  .plans {
    padding: 48px 0 60px;
    &__title {
      font-size: 43px;
      line-height: 120%;
    }
  }



  .team {
    padding: 65px 0 45px;
    &__title {
      font-size: 43px;
      line-height: 120%;
      margin-bottom: 10px;
    }
    &__mean {
      font-size: 16px;
      margin: 0 auto 40px;
    }
  }


  .testimonials {
    padding: 55px 0 90px;
    &__mean{
      margin: 0 auto 28px
    }
  }


  .blog-post{
    &__title{
      font-size: 43px;
      line-height: 120%;
    }
    &__mean{
      margin: 0 auto 35px;
    }
  }


  .footer {
    &__col {
      width: 47%;
      margin-left: 20px;
    }

    &__col_mean {
      margin-left: 20px;
      width: 46%;
      margin-bottom: 20px;
    }

    &__card-box_mean {
      max-width: 265px;
    }

    &__li {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 22px;
      line-height: 130%;
      margin-bottom: 19px;
    }
  }
}



@media (max-width: 768px) {
  //768px  576px
  .container {
    max-width: 560px;
  }
  .col {
    &-160 {
      width: 170px;
      margin-bottom: 20px;
    }
    &-4{
      width: 60%;
      margin: 0 auto;
    }
    &-3 {
      width: 64%;
      margin: 0 auto;
    }
    &-6{
      width: 100%;
    }
  }


  .header {
    &__ul {
      display: none;
    }
    &__button {
      display: none;
    }
    &__link{
      color: #EEEEEE;
      &:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
  .header_button{
    display: block;
    background: none;
    border: none;
  }
  .hero {
      min-height: 484px;

      &__rule-photo {
        display: none;
      }

      &__title {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 12px;
        padding: 90px 0 0;
      }

      &__photo-2 {
        top: 38px;
        left: 10px;
        height: 6%;
      }

      &__photo-1 {
        top: 36px;
        height: 6%;
        left: 502px;
      }

      &__photo-3 {
        bottom: 100px;
        left: 522px;
        height: 6%;
      }
    }


  .page-icon {
      &__photo-box {
        padding: 20px 0 27px;
      }

      &__photo-box_element {
        height: 27px;
      }
    }


  .about-us {
      padding: 33px 0 0;
      min-height: 730px;
      &__title {
        line-height: 44px;
        font-size: 36px;
        margin: 0 auto 15px;
        text-align: center;
      }
    &__mean {
      font-size: 14px;
      line-height: 143%;
      max-width: 541px;
      margin: 0 auto 22px;
      text-align: center;
    }
    &_right {
      top: 218px;
      right: -93px;
      height: 75%;
    }
    &_margin-right{
      margin: 0 184px;
    }
    }


  .features{
    overflow: hidden;
    &_col-4{
      &:first-child{
        margin: 0 auto 35px;
      }
      &:nth-child(2){
        margin: 0 auto 35px;
      }
    }
  }


  .services{
    overflow: hidden;
    padding: 50px 0 79px;
    &__title {
      font-size: 34px;
      margin-bottom: 15px;
      line-height: 30px;
    }
    &__mean {
      font-size: 15px;
      line-height: 146%;
      max-width: 433px;
      margin: 0 auto 45px;
    }
    &_col-4{
      &:first-child{
        margin: 0 auto 35px;
      }
      &:nth-child(2){
        margin: 0 auto 35px;
      }
    }
    &_photo-card {
      margin-bottom: 7px;
      height: 212px;
    }
    }


  .what-we-do{
    min-height: 741px;
    &_photo {
      left: 92px;
      top: 450px;
      height: 311px;
    }
    &_col-6{
      padding: 1px 0 0 30px;
    }
    &__title {
      font-size: 35px;
      line-height: 38px;
      max-width: 457px;
      margin: 0 auto 11px;
      text-align: center;
    }
    &__mean {
      font-size: 14px;
      line-height: 127%;
      max-width: 450px;
      margin: 0 auto 36px;
      text-align: center;
    }
    &_icon {
      height: 70px;
    }
    &__card-box {
      max-width: 467px;
      margin: 0 auto 20px;
    }
    &__card-box_title {
      font-size: 17px;
      line-height: 111%;
    }
    &__card-box_mean {
      font-size: 13px;
      line-height: 130%;
      max-width: 364px;
    }
  }


  .funfact{
    padding: 61px 0 36px;
    &__straight-box {
      padding: 33px 20px;
    }
    &__card-box_number {
      font-size: 40px;
      line-height: 100%;
    }
    &__card-box_mean {
      font-size: 12px;
      line-height: 100%;
    }
    &__straight-box_photo {
      top: 54px;
      height: 7px;
    }
  }


  .mail-box{
    min-height: 795px;
    &_photo {
      position: absolute;
      right: 9px;
      top: 445px;
      height: 350px;
    }
    &__card-box_title {
      padding: 55px 0 0;
      font-size: 37px;
      line-height: 114%;
      margin: 0 auto;
    }
    &__card-box_mean {
      max-width: 503px;
      font-size: 13px;
      margin: 0 auto 20px;
    }
    &_label {
      margin: 0 55px 20px 110px;
    }
    &_button {
      margin-left: 232px;
    }
  }


  .plans{
    padding: 80px 0 60px;
    &__title {
      font-size: 36px;
      line-height: 83%;
      margin-bottom: 15px;
    }
    &__mean {
      font-size: 14px;
      margin-bottom: 13px;
    }
    &__card-box {
      padding: 48px 25px 52px;
    }
    &_col-4{
      &:first-child{
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        margin: 0 auto 20px;
      }
    }
    &__card-box_dollar{
      top: 99px;
      left: 57px;
    }
    &__card-box_dollar-right{
      left: 48px;
    }
    &__card-box_item {
      max-width: 217px;
      font-size: 15px;
      line-height: 184%;
      letter-spacing: 2px;
      margin: 0 auto 15px;
    }
    &__card-box_text {
      font-size: 62px;
      line-height: 108%;
    }
  }


  .team{
    &__title {
      font-size: 36px;
      line-height: 88%;
    }
    &__mean {
      font-size: 14px;
      margin: 0 auto 24px;
    }
    &_col-3{
      &:nth-child(1) {
        margin: 0 auto 20px;
      }
      &:nth-child(2) {
        margin: 0 auto 20px;
      }
      &:nth-child(3) {
        margin: 0 auto 20px;
      }
      &:nth-child(4) {
        margin: 0 auto ;
      }
    }
  }


  .testimonials{
    padding: 55px 0 60px;
    &__title {
      font-size: 37px;
      line-height: 99%;
      margin-bottom: 17px;
    }
    &__mean {
      font-size: 14px;
      line-height: 105%;
      margin: 0 auto 23px;
    }
  }


  .blog-post {
    padding: 10px 0 54px;
    &__title {
      font-size: 37px;
      line-height: 100%;
    }
    &__mean {
      margin: 0 auto 30px;
      font-size: 14px;
    }
    &__card-box_title {
      font-size: 20px;
      line-height: 131%;
      margin-bottom: 15px;
    }
  }


  .footer{
    &::after {
      content: '';
      display: none;
    }
    &__end-title {
      padding: 21px 0 0;
    }
    &__col {
      width: 100%;
      margin-left: 140px;
      margin-bottom: 20px;
    }
    &__col_mean {
      margin-left: 140px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}


@media (max-width: 576px) {
//  576px to 480px
  .container{
    max-width: 460px;
  }
  .col-160 {
    width: 220px;
    margin: 0 auto 20px;
  }
  .header {
    &__menu {
      padding: 19px 0;
    }
  }
  .header_button{
    height: 25px;
  }
  .hero{
    min-height: 430px;
    &__title {
      font-size: 46px;
      line-height: 55px;
      margin-bottom: 10px;
      padding: 83px 0 0;
    }
    &__mean {
      max-width: 431px;
      font-size: 18px;
      line-height: 23px;
      color: #888888;
      margin-bottom: 24px;
    }
    &__photo-1 {
      top: 36px;
      height: 6%;
      left: 416px;
    }
    &__photo-3 {
      bottom: 100px;
      left: 416px;
      height: 6%;
    }
    &__mean {
      max-width: 377px;
      font-size: 15px;
      line-height: 21px;
      color: #888888;
      margin-bottom: 20px;
    }
  }


  .about-us {
    text-align: center;
    padding: 30px  0 0;
    min-height: 630px;
    &__title {
      line-height: 32px;
      font-size: 28px;
      margin: 0 auto 12px;
    }
    &__mean {
      font-size: 12px;
      line-height: 128%;
      max-width: 406px;
      margin: 0 auto 22px;
    }
    &_margin-right {
      margin: 0 153px;
    }
    &_right {
      top: 168px;
      right: -68px;
      height: 75%;
    }
  }

  .features{
    padding: 20px 0 55px;
    &__card-box {
      padding: 30px 0 15px;
    }
    &_photo{
      height: 64px;
      margin-bottom: 10px;
    }
    &__title{
      font-size: 20px;
      margin-bottom: 10px;
      line-height: 20px;
    }
    &__mean {
      font-size: 12px;
      line-height: 144%;
      max-width: 272px;
      margin-bottom: 8px;
    }
  }

  .services {
    padding: 55px 0 77px;
    &__title {
      font-size: 25px;
      line-height: 12px;
    }
    &__mean {
      font-size: 12px;
      line-height: 126%;
      max-width: 386px;
      margin: 0 auto 18px;
    }
    &_photo-card {
      margin-bottom: 7px;
      height: 188px;
    }
    &__card-box_title {
      line-height: 20px;
      font-size: 20px;
      margin-bottom: 14px;
    }
    &__card-box_mean {
      font-size: 12px;
      line-height: 116%;
      max-width: 259px;
      margin: 0 auto 24px;
    }
    &_col-4{
      &:nth-child(2) {
        margin: 0 auto 25px;
      }
      &:nth-child(1) {
        margin: 0 auto 25px;
      }
    }
  }


  .what-we-do{
    min-height: 768px;
    &__title {
      font-size: 24px;
      line-height: 26px;
      max-width: 406px;
      margin: 0 auto 11px;
    }
    &_col-6{
      padding: 0;
    }
    &__mean {
      font-size: 12px;
      line-height: 119%;
      max-width: 440px;
      margin: 0 auto 26px;
    }
    &_icon {
      height: 67px;
    }
    &__card-box {
      max-width: 460px;
      margin: 0 auto 18px;
    }
    &__card-box_title {
      font-size: 14px;
      line-height: 92%;
    }
    &__card-box_mean {
      font-size: 12px;
      line-height: 109%;
      max-width: 354px;
    }
    &_photo {
      left: 40px;
      top: 423px;
      height: 309px;
    }
  }

  .funfact{
    padding: 25px 15px;
    &__card-box_number {
      font-size: 31px;
      line-height: 95%;
    }
    &__card-box_mean {
      font-size: 11px;
      line-height: 93%;
    }
    &__straight-box_photo {
      top: 47px;
      height: 6px;
    }
  }

  .mail-box{
    min-height: 698px;
    &__card-box_title {
      padding: 64px 0 0;
      font-size: 28px;
      line-height: 107%;
      margin: 0 auto 10px;
    }
    &__card-box_mean {
      max-width: 425px;
      font-size: 12px;
    }
    &_label {
      margin: 0 50px 20px;
    }
    &_button {
      margin-left: 172px;
    }
    &_photo {
      right: -24px;
      top: 306px;
    }
  }


  .plans{
    padding: 65px 0 55px;
    &__title {
      font-size: 27px;
      line-height: 70%;
      margin-bottom: 10px;
    }
    &__mean {
      font-size: 12px;
      margin-bottom: 10px;
    }
    &__card-box_title {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 5px;
    }
    &__card-box_text {
      font-size: 52px;
      line-height: 102%;
    }
    &__card-box_dollar {
      top: 82px;
      left: 43px;
    }
    &__card-box_date {
      font-size: 12px;
    }
    &__card-box_item {
      max-width: 217px;
      font-size: 12px;
      line-height: 180%;
      letter-spacing: 1px;
    }
    &__card-box {
      padding: 35px 16px 35px;
    }
    &_button_orange {
      padding: 16px 61px;
    }
  }


  .team {
    padding: 55px 0 55px;
    &__title {
      font-size: 28px;
      line-height: 83%;
    }
    &__mean {
      font-size: 12px;
      margin: 0 auto 20px;
    }
    &__card-box_photo {
      height: 79px;
      margin-bottom: 10px;
    }
    &__card-box {
      padding: 40px 47px;
    }
  }


  .testimonials {
    padding: 50px 0 55px;
    &__title {
      font-size: 29px;
      line-height: 88%;
      margin-bottom: 10px;
    }
    &__mean {
      font-size: 12px;
      line-height: 104%;
      margin: 0 auto 20px;
    }
  }


  .blog-post{
    &__title {
      font-size: 29px;
      line-height: 97%;
    }
    &__mean {
      max-width: 392px;
      margin: 0 auto 30px;
      font-size: 12px;
    }
  }


  .footer {
    padding: 59px 0 19px;
    &__col {
      width: 92%;
      margin: 0 auto 20px;
    }
    &__col_mean{
      margin-left: 20px;
      margin-bottom: 20px;
    }
    &__logo-box {
      margin-bottom: 14px;
    }
    &__card-box_mean {
      max-width: 265px;
      font-size: 12px;
    }
    &__title {
      font-size: 18px;
      line-height: 120%;
      margin-bottom: 5px;
    }
    &__li {
      margin-bottom: 2px;
    }
    &__link {
      font-size: 12px;
    }
    &__end-title {
      padding: 14px 0 0;
      font-size: 12px;
    }
  }

}


@media (max-width: 480px) {
//  from 480px to 320px
  .container{
    max-width: 310px;
  }
  .col{
    &-160 {
      width: 116px;
      margin: 0 auto 20px;
    }
  }
  .header{
    &__logo-photo_item {
      padding-right: 10px;
      height: 30px;
    }
    &__logo-text_black {
      font-size: 22px;
    }
    &__logo-text_orange {
      font-size: 22px;
    }
  }
  .header_button{
    height: 22px;
  }
  .hero {
    &__title {
      font-size: 36px;
      line-height: 52px;
      margin-bottom: 10px;
      padding: 74px 0 0;
    }

    &__mean {
      max-width: 247px;
      font-size: 14px;
      line-height: 20px;
      color: #888888;
      margin-bottom: 15px;
    }

    &__photo-3 {
      bottom: 120px;
      left: 264px;
      height: 6%;
    }

    &__photo-1 {
      top: 36px;
      height: 6%;
      left: 251px;
    }
    &__sub-button_item {
      margin-bottom: -12px;
      padding: 0 13px 0 16px;
    }
  }
  .button {
    font-size: 13px;
    line-height: 18px;
    padding: 11px 29px;
  }
  .about-us{
    padding: 16px 0 0;
    min-height: 494px;
    text-align: center;
    &__title {
      line-height: 26px;
      font-size: 24px;
      margin: 0 auto 10px;
    }
    &__mean {
      font-size: 11px;
      line-height: 128%;
      max-width: 295px;
      margin: 0 auto 19px;
    }
    &_margin-right {
      margin: 0 auto;
    }
    &_right {
      height: 70%;
    }
  }


  .features{
    &__card-box {
      width: 207px;
      padding: 25px 0 15px;
    }
    &_photo {
      height: 60px;
    }
    &_col-4{
      &:first-child {
        margin: 0 auto 25px;
      }
      &:nth-child(2){
        margin: 0 auto 25px;
      }
    }
    &__title {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 18px;
    }
    &__mean {
      font-size: 11px;
      line-height: 144%;
      max-width: 194px;
    }
  }

  .services{
    padding: 25px 0 45px;
    &__title {
      font-size: 22px;
      line-height: 11px;
    }
    &__mean {
      font-size: 11px;
      line-height: 126%;
      max-width: 256px;
    }
    &_photo-card {
      margin-bottom: 4px;
      height: 122px;
    }
    &__card-box {
      padding: 0 0 15px;
    }
    &__card-box_title {
      line-height: 20px;
      font-size: 15px;
      margin-bottom: 6px;
    }
    &__card-box_mean {
      font-size: 11px;
      line-height: 116%;
      max-width: 259px;
      margin: 0 auto 13px;
    }
  }

  .what-we-do{
    min-height: 626px;
    &__title {
      font-size: 18px;
      line-height: 22px;
      max-width: 304px;
      margin: 0 auto 9px;
    }
    &__mean {
      font-size: 11px;
      line-height: 119%;
      max-width: 277px;
      margin: 0 auto 22px;
    }
    &_icon {
      height: 55px;
    }
    &__card-box_title {
      font-size: 12px;
      line-height: 79%;
    }
    &__card-box_mean {
      font-size: 11px;
      line-height: 99%;
      max-width: 228px;
    }
    &__card-box {
      width: 91%;
      margin: 0 auto 18px;
    }
    &_photo {
      left: 13px;
      top: 374px;
      height: 218px;
    }
  }

  .funfact{
    &__card-box_number {
      font-size: 27px;
      line-height: 85%;
    }
    &__straight-box {
      padding: 24px 1px;
    }
    &__straight-box_photo {
     display: none;
    }
    &__card-box_mean {
      font-size: 10px;
      line-height: 93%;
    }
  }


  .mail-box{
    min-height: 550px;
    text-align: center;
    &__card-box_title {
      padding: 37px 0 0;
      font-size: 25px;
      line-height: 100%;
      margin: 0 auto 10px;
    }
    &__card-box_mean {
      max-width: 100%;
      font-size: 10px;
    }
    &_label {
      margin: 0 0 15px;
    }
    &__input {
      width: 50%;
      font-size: 10px;
      line-height: 90%;
      padding: 14px 17px;
    }
    &__input_right{
      width: 50%;
      font-size: 10px;
      line-height: 90%;
      padding: 14px 17px;
    }
    &_button{
      margin-left: 0;
    }
    &_photo {
      right: 0;
      left: 0;
      margin: 0 auto;
      top: 306px;
      height: 238px;
    }
  }


  .plans{
    &__title {
      font-size: 24px;
      line-height: 68%;
    }
    &__mean {
      font-size: 11px;
    }
    &__card-box {
      padding: 30px 14px 30px;
    }
    &__card-box_text {
      font-size: 41px;
      line-height: 102%;
    }
    &__card-box_dollar {
      top: 64px;
      font-size: 14px;
      left: 15px;
    }
    &__card-box_title {
      font-size: 16px;
    }
    &__card-box_date {
      font-size: 11px;
    }
    &__card-box_item {
      max-width: 110px;
      font-size: 10px;
      line-height: 161%;
      letter-spacing: 0;
    }
    &_button{
      font-size: 11px;
    }
    &_button_orange{
      font-size: 11px;
    }
  }

  .team{
    padding: 35px 0 36px;
    &__title {
      font-size: 21px;
      line-height: 74%;
    }
    &__mean {
      font-size: 11px;
    }
    &__card-box {
      padding: 17px 14px;
    }
    &__card-box_photo {
      height: 72px;
    }
    &__card-box_name {
      font-size: 15px;
      line-height: 130%;
    }
    &__card-box_name {
      font-size: 15px;
      line-height: 130%;
    }
  }

  .testimonials{
    padding: 50px 0 45px;
    &__title {
      font-size: 24px;
      line-height: 80%;
    }
    &__mean {
      width: 90%;
      font-size: 11px;
      line-height: 104%;
      margin: 0 auto 15px;
    }
    &__card-box_title {
      font-size: 10px;
      line-height: 150%;
      margin: 0 auto 14px;
    }
    &__card-box {
      padding: 20px 10px 20px;
    }
    &__card-box_photo{
      height: 40px;
      margin-bottom: 5px;
    }
    &__card-box_name {
      font-size: 12px;
      line-height: 131%;
    }
  }

  .blog-post{
    &__title {
      font-size: 23px;
    }
    &__mean {
      max-width: 90%;
      margin: 0 auto 23px;
      font-size: 11px;
    }
    &__card-box {
      border: 2px solid #EEEEEE;
      display: flex;
      flex-wrap: wrap;
      max-width: 297px;
      height: 420px;
    }
    &__card-box_title {
      font-size: 15px;
      line-height: 101%;
      margin-bottom: 10px;
    }
    &__sub-card {
      padding: 18px 10px 18px;
    }
    &__card-box_titer-photo{
      height: 30px;
      width: 0;
    }
    &__card-box_mean {
      font-size: 11px;
      line-height: 150%;
      color: #666666;
      margin-bottom: 18px;
    }
  }
  .owl-carousel .owl-item img {
    height: 43%;
    width: 100%;
  }
  .footer {
    padding: 40px 0 19px;
    &__logo-photo_item {
      height: 30px;
      padding-right: 10px;
    }
    &__logo-text_black {
      font-size: 20px;
    }
    &__logo-text_orange {
      font-size: 20px;
    }
    &__logo-box {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 16px;
      line-height: 100%;
    }
    &__link {
      font-size: 12px;
    }
    &__end-title {
      padding: 0 0 0;
      font-size: 11px;
    }
  }
}
