@media (max-width: 1200px) {
//  from 1200px t0 992px
    .container{
      max-width: 980px;
    }
  .col{
    &-160 {
      width: 166px;
    }
    &-4 {
      width: 47.333%;
      &:last-child{
        margin: 0 auto;
      }
    }
    &-3 {
      width: 39%;
    }
  }
  .hero {
    &__rule-photo {
      top: 83px;
      right: -164px;
      height: 71%;
      opacity: 0.9;
    }
    &__photo-2 {
      top: 68px;
      left: 10px;
      height: 7%;
    }
    &__photo-1 {
      top: 78px;
      height: 7%;
    }
    &__photo-3 {
      bottom: 121px;
      left: 530px;
      height: 7%;
    }
  }

  .page-icon{
    &__photo-box{
      padding: 45px 0;
    }
    &__photo-box_element{
      height: 35px;
    }
  }

  .about-us {
    padding: 90px 0;
    overflow: hidden;
    &_right {
      position: absolute;
      top: 27px;
      right: -69px;
      height: 95%;
    }

  }

  .features{
    padding: 20px 0 70px;
    &_col-4{
      margin-bottom: 30px;
      &:first-child{
        margin-left: 20px;
      }
      &:last-child{
          margin: 0 auto;
          box-shadow: 15px 25px 56px 6px rgb(0 0 0 / 6%);
      }
      &:nth-child(2){
        margin-left: 35px;
      }
    }
    &_shadow{
      box-shadow: none;
    }
  }

  .services {
    padding: 63px 0 110px;
    &_col-4{
      margin-bottom: 40px;
      &:first-child{
        margin-left: 15px;
      }
      &:nth-child(2){
        margin-left: 15px;
      }
       &:last-child{
         box-shadow: 15px 25px 60px -5px rgb(0 0 0 / 10%);

       }
    }
    &__card-box_shadow {
      box-shadow: none;
    }
  }

  .what-we-do{
    &_photo {
      position: absolute;
      top: 97px;
      left: -60px;
      height: 426px;
    }
    &_col-6 {
      padding: 1px 0 0 0;
    }
    &_mean {
      margin-bottom: 50px;
    }
    &__card-box_mean {
      max-width: 359px;
    }
  }

  .funfact{
    &__straight-box {
      padding: 33px 27px;
    }
  }

  .mail-box{
    padding: 0;
    &_photo {
      position: absolute;
      right: -158px;
      top: 57px;
      height: 470px;
    }
    &__card-box_title {
      padding: 104px 0 0;
      max-width: 430px;
      text-align: center;
    }
    &__button-box {
       display: block;
       margin-bottom: 110px;
    }
    &_label {
      margin: 0 0 30px 56px;
    }
    &__card-box_mean {
      text-align: center;
      margin-bottom: 30px;
    }
    &_button {
      margin-left: 164px;
    }
  }

  .plans{
    padding: 80px 0 64px;
    &__mean {
      margin-bottom: 16px;
    }
    &_col-4{
      margin-bottom: 30px;
      &:nth-child(2){
        margin-left: 25px;
      }
      &:last-child{
        box-shadow: 15px 25px 70px -5px rgb(0 0 0 / 7%);

      }
    }
    &__card-box_shadow {
      box-shadow: none;
    }
  }

  .team{
    padding: 80px 0 70px;
    &_col-3{
      margin-bottom: 30px;
      &:nth-child(2){
        margin-left: 90px;
      }
      &:nth-child(4){
        margin-left: 90px;
      }
      &:nth-child(3){
        margin-left: 60px;
      }
      &:nth-child(1){
        margin-left: 60px;
      }
    }
  }

  .testimonials{
    padding: 65px 0 110px;
  }

  .blog-post {
    overflow: hidden;
    padding: 20px 0 88px;
  }

  .footer{
    &__card-box_mean {
      max-width: 216px;
    }
  }
}





@media (max-width: 992px) {
//  from 992px to 768px
  .container{
    max-width: 900px;
  }
  .header__ul {
    display: none;
  }
  .col{
    &-160 {
      width: 154px;
    }
  }
  .hero{
    &__title {
      font-size: 56px;
      line-height: 66px;
      margin-bottom: 14px;
      padding: 116px 0 0;
    }
    &__rule-photo {
      top: 80px;
      right: -164px;
      height: 70%;
    }
  }
  .page-icon{
    &__photo-box {
      padding: 20px 0 40px;
    }
  }
  .about-us {
    padding: 53px 0;
    &__title {
      line-height: 51px;
    }
    &__mean {
      font-size: 15px;
      line-height: 143%;
      max-width: 471px;
      margin-bottom: 32px;
    }
    &_right {
      top: -37px;
      right: -62px;
      height: 116%;
    }
  }
  .features{
    &_col-4{
      &:first-child {
        margin-left: 15px;
      }
      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }

  .services{
    &__title{
      font-size: 43px;
      margin-bottom: 15px;
    }
  }


  .what-we-do{
    &_photo {
      left: -90px;
      height: 411px;
    }
    &__title{
      font-size: 43px;
      line-height: 47px;
      max-width: 465px;
      margin-bottom: 15px;
      }
    &__mean {
      font-size: 15px;
      line-height: 136%;
      max-width: 450px;
      margin-bottom: 43px;
    }
    &_icon{
      height: 91px;
    }
  }


  .funfact {
    padding: 40px 0 36px;
    &__card-box_number {
      font-size: 65px;
      line-height: 150%;
    }
    &__straight-box_photo {
      top: 80px;
    }
  }


  .mail-box {
    &__card-box_title {
      font-size: 43px;
      line-height: 126%;
    }

    &_photo {
      height: 463px;
    }
    &__card-box_mean {
      max-width: 386px;
      font-size: 15px;
    }
  }


  .plans {
    padding: 48px 0 60px;
    &__title {
      font-size: 43px;
      line-height: 120%;
    }
  }



  .team {
    padding: 65px 0 45px;
    &__title {
      font-size: 43px;
      line-height: 120%;
      margin-bottom: 10px;
    }
    &__mean {
      font-size: 16px;
      margin: 0 auto 40px;
    }
  }


  .testimonials {
    padding: 55px 0 90px;
    &__mean{
      margin: 0 auto 28px
    }
  }


  .blog-post{
    &__title{
      font-size: 43px;
      line-height: 120%;
    }
    &__mean{
      margin: 0 auto 35px;
    }
  }


  .footer {
    &__col {
      width: 47%;
      margin-left: 20px;
    }

    &__col_mean {
      margin-left: 20px;
      width: 46%;
      margin-bottom: 20px;
    }

    &__card-box_mean {
      max-width: 265px;
    }

    &__li {
      margin-bottom: 10px;
    }

    &__title {
      font-size: 22px;
      line-height: 130%;
      margin-bottom: 19px;
    }
  }
}





@media (max-width: 768px) {
  //768px  576px
  .container {
    max-width: 560px;
  }
  .col {
    &-160 {
      width: 170px;
      margin-bottom: 20px;
    }
    &-4{
      width: 60%;
      margin: 0 auto;
    }
    &-3 {
      width: 64%;
      margin: 0 auto;
    }
    &-6{
      width: 100%;
    }
  }


  .header {
    &__ul {
      display: none;
    }
    &__button {
      display: none;
    }
  }


  .hero {
      min-height: 484px;

      &__rule-photo {
        display: none;
      }

      &__title {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 12px;
        padding: 90px 0 0;
      }

      &__photo-2 {
        top: 38px;
        left: 10px;
        height: 6%;
      }

      &__photo-1 {
        top: 36px;
        height: 6%;
        left: 502px;
      }

      &__photo-3 {
        bottom: 100px;
        left: 522px;
        height: 6%;
      }
    }


  .page-icon {
      &__photo-box {
        padding: 20px 0 27px;
      }

      &__photo-box_element {
        height: 27px;
      }
    }


  .about-us {
      padding: 33px 0 0;
      min-height: 730px;
      &__title {
        line-height: 44px;
        font-size: 36px;
        margin: 0 auto 15px;
        text-align: center;
      }
    &__mean {
      font-size: 14px;
      line-height: 143%;
      max-width: 541px;
      margin: 0 auto 22px;
      text-align: center;
    }
    &_right {
      top: 218px;
      right: -93px;
      height: 75%;
    }
    &_margin-right{
      margin: 0 184px;
    }
    }


  .features{
    overflow: hidden;
    &_col-4{
      &:first-child{
        margin: 0 auto 35px;
      }
      &:nth-child(2){
        margin: 0 auto 35px;
      }
    }
  }


  .services{
    overflow: hidden;
    padding: 50px 0 79px;
    &__title {
      font-size: 34px;
      margin-bottom: 15px;
      line-height: 30px;
    }
    &__mean {
      font-size: 15px;
      line-height: 146%;
      max-width: 433px;
      margin: 0 auto 45px;
    }
    &_col-4{
      &:first-child{
        margin: 0 auto 35px;
      }
      &:nth-child(2){
        margin: 0 auto 35px;
      }
    }
    &_photo-card {
      margin-bottom: 7px;
      height: 212px;
    }
    }


  .what-we-do{
    min-height: 741px;
    &_photo {
      left: 92px;
      top: 450px;
      height: 311px;
    }
    &_col-6{
      padding: 1px 0 0 30px;
    }
    &__title {
      font-size: 35px;
      line-height: 38px;
      max-width: 457px;
      margin: 0 auto 11px;
      text-align: center;
    }
    &__mean {
      font-size: 14px;
      line-height: 127%;
      max-width: 450px;
      margin: 0 auto 36px;
      text-align: center;
    }
    &_icon {
      height: 70px;
    }
    &__card-box {
      max-width: 467px;
      margin: 0 auto 20px;
    }
    &__card-box_title {
      font-size: 17px;
      line-height: 111%;
    }
    &__card-box_mean {
      font-size: 13px;
      line-height: 130%;
      max-width: 364px;
    }
  }


  .funfact{
    padding: 61px 0 36px;
    &__straight-box {
      padding: 33px 20px;
    }
    &__card-box_number {
      font-size: 40px;
      line-height: 100%;
    }
    &__card-box_mean {
      font-size: 12px;
      line-height: 100%;
    }
    &__straight-box_photo {
      top: 54px;
      height: 7px;
    }
  }


  .mail-box{
    min-height: 795px;
    &_photo {
      position: absolute;
      right: 9px;
      top: 445px;
      height: 350px;
    }
    &__card-box_title {
      padding: 55px 0 0;
      font-size: 37px;
      line-height: 114%;
      margin: 0 auto;
    }
    &__card-box_mean {
      max-width: 503px;
      font-size: 13px;
      margin: 0 auto 20px;
    }
    &_label {
      margin: 0 55px 20px 110px;
    }
    &_button {
      margin-left: 232px;
    }
  }


  .plans{
    padding: 80px 0 60px;
    &__title {
      font-size: 36px;
      line-height: 83%;
      margin-bottom: 15px;
    }
    &__mean {
      font-size: 14px;
      margin-bottom: 13px;
    }
    &__card-box {
      padding: 48px 25px 52px;
    }
    &_col-4{
      &:first-child{
        margin-bottom: 20px;
      }
      &:nth-child(2) {
        margin: 0 auto 20px;
      }
    }
    &__card-box_dollar{
      top: 99px;
      left: 57px;
    }
    &__card-box_dollar-right{
      left: 48px;
    }
    &__card-box_item {
      max-width: 217px;
      font-size: 15px;
      line-height: 184%;
      letter-spacing: 2px;
      margin: 0 auto 15px;
    }
    &__card-box_text {
      font-size: 62px;
      line-height: 108%;
    }
  }


  .team{
    &__title {
      font-size: 36px;
      line-height: 88%;
    }
    &__mean {
      font-size: 14px;
      margin: 0 auto 24px;
    }
    &_col-3{
      &:nth-child(1) {
        margin: 0 auto 20px;
      }
      &:nth-child(2) {
        margin: 0 auto 20px;
      }
      &:nth-child(3) {
        margin: 0 auto 20px;
      }
    }
  }


  .testimonials{
    padding: 55px 0 60px;
    &__title {
      font-size: 37px;
      line-height: 99%;
      margin-bottom: 17px;
    }
    &__mean {
      font-size: 14px;
      line-height: 105%;
      margin: 0 auto 23px;
    }
  }


  .blog-post {
    padding: 10px 0 54px;
    &__title {
      font-size: 37px;
      line-height: 100%;
    }
    &__mean {
      margin: 0 auto 30px;
      font-size: 14px;
    }
    &__card-box_title {
      font-size: 20px;
      line-height: 131%;
      margin-bottom: 15px;
    }
  }


  .footer{
    &::after {
      content: '';
      display: none;
    }
    &__end-title {
      padding: 21px 0 0;
    }
    &__col {
      width: 100%;
      margin-left: 140px;
      margin-bottom: 20px;
    }
    &__col_mean {
      margin-left: 140px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

//@media (max-width: 576px) {
////  576px to 480px
//  .container{
//    max-width: 600px;
//  }
//  .hero{
//    &__title {
//      font-size: 53px;
//      line-height: 59px;
//      margin-bottom: 13px;
//      padding: 106px 0 0;
//    }
//    &__mean {
//      max-width: 431px;
//      font-size: 18px;
//      line-height: 23px;
//      color: #888888;
//      margin-bottom: 24px;
//    }
//  }
//  .hero__rule-photo {
//      top: 39px;
//      right: -163px;
//      height: 73%;
//    }
//
//}
//}