@import "fonts";

$text-size: 24px;

$rule-text-size: 45px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.col{
  &-160{
    width: 200px;
    padding: 0 15px;
  }
  &-3{
    width: 25%;
    padding: 0 15px;
  }
  &-4{
    width: 33.333%;
    padding: 0 15px;
  }
  &-6{
    width: 50%;
    padding: 0 15px;
  }
}
body{
  font-family: "Gilroy", sans-serif;
}
.button{
  position: relative;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-shadow: 0 -1px 1px #777;
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  padding: 16px 36px;
  border: none;
  &:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
  }
}
.header{
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 20;
  border-bottom: 2px solid #EEEEEE;
  &__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
  &__logo-box{
    display: flex;
    align-items: center;
  }
  &__logo-photo_item{
      padding-right: 14px;
    }
  &__nav{
    display: flex;
    align-items: center;
  }
  &__ul{
    display: flex;
    list-style: none;
  }
  &__li{
    padding-right: 30px;
  }
  &__logo-text_black{
    color: black;
    font-size: $text-size;
    font-weight: bold;
  }
  &__logo-text_orange{
    color: #F25822;
    font-size: $text-size;
    font-weight: bold;
  }
  &__link{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: black;
    &:hover{
      color: black;
      text-decoration: underline;
      font-weight: bold;
    }
    &:active{
      color: #333333;
      text-decoration: none;
      font-weight: normal;
    }
    &_orange{
      color: #F25822;
      &:hover{
        color: #F25822;
        font-weight: bold;
        text-decoration: underline;
      }
      &:active{
        color: black;
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
  &__button{
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #F25822;
    border-radius: 30px;
    padding: 12px 27px;
    border: none;
  }
}


.hero{
  height: calc(100vh - 124px);
  min-height: 600px;
  position: relative;
  overflow: hidden;
  &__rule-photo{
    position: absolute;
    top: 27px;
    right: -111px;
  }
  &__photo-1{
    position: absolute;
    top: 63px;
    left: 520px;
  }
  &__photo-2{
    position: absolute;
    top: 103px;
    left: 10px;
  }
  &__photo-3{
    position: absolute;
    bottom: 97px;
    left: 535px;
  }
  &__title{
    max-width: 552px;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 17px;
    padding: 120px 0 0;
    &_round{
      border: 1px solid #F25822;
      border-radius: 50%;
    }
  }
  &__mean{
    max-width: 466px;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-bottom: 37px;
  }
  &__button{
    display: inline-block;
  }
  &__sub-button{
    display: inline-block;
    &_item{
      margin-bottom: -10px;
      padding:0 16px 0 27px;
    }
    &_text{
      font-size: 15px;
      line-height: 18px;
      color: #AAAAAA;
      font-weight: 700;
    }
  }
}
.page-icon{
  &__row{
    margin: 0 -15px;
  }
  &__photo-box{
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.about-us{
  padding: 125px 0;
  background: url("../photo/element.png") center/cover;
  position: relative;
  &__title{
    line-height: 53px;
    font-size: $rule-text-size;
    color: #000000;
    max-width: 409px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  &__mean{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    max-width: 515px;
    margin-bottom: 35px;
  }
  &_right{
    position: absolute;
    top: 0;
    right: 0;
  }
}


.features{
  padding: 50px 0 100px;
  &_row{
    margin: 0 -30px;
  }
  &_col-4{
    padding: 0 20px;
  }
  &__card-box{
    width: 370px;
    padding: 40px 28px 25px;
  }
  &_shadow{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
  &_photo{
    margin-bottom: 25px;
  }
  &__title{
    line-height: 28px;
    color: #000000;
    font-size: $text-size;
    font-weight: 800;
    margin-bottom: 17px;
  }
  &__mean{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #666666;
    max-width: 310px;
    margin-bottom: 25px;
  }
  &__link{
    font-size: 11px;
    line-height: 150%;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
  }
}


.services{
  &_row{
    margin: 0 -15px;
  }
  padding: 92px 0 100px;
  &__title{
    line-height: 53px;
    font-size: $rule-text-size;
    color: #000000;
    font-weight: 700;
    margin-bottom: 19px;
    text-align: center;
  }
  &__mean{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    max-width: 682px;
    margin: 0 auto 54px;
  }
  &_photo-card{
    margin-bottom: 15px;
  }
  &_button{
    padding: 15px 36px 15px 46px;
  }
  &__card-box{
    text-align: center;
    padding: 0 0 40px;
    &_shadow{
      box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    }
    &_title{
      line-height: 28px;
      font-size: $text-size;
      color: #000000;
      font-weight: 700;
      margin-bottom: 22px;
      text-align: center;
    }
    &_mean{
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      color: #AAAAAA;
      max-width: 310px;
      margin: 0 auto 39px;
    }
  }
}


.what-we-do{
  padding: 30px 0;
  &_row{
    margin: 0 -15px;
  }
  &_col-6{
    padding: 70px 0 0 95px;
  }
  &__photo-box{
    position: relative;
  }
  &_photo{
    position: absolute;
    top: 0;
    left: -252px;
  }
  &__title{
    font-size: $rule-text-size;
    line-height: 53px;
    color: #000000;
    max-width: 557px;
    margin-bottom: 19px;
    margin-right: auto;
    font-weight: 700;
  }
  &__mean{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    max-width: 570px;
    margin-bottom: 75px;
  }
  &__card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    &_title{
      font-size: 20px;
      line-height: 150%;
      font-weight: 600;
      color: #000000;
      margin-bottom: 8px;
    }
    &_mean{
      font-size: 15px;
      line-height: 150%;
      font-weight: 400;
      color: #666666;
      max-width: 362px;
    }
  }
}


.funfact{
  padding: 50px 0 42px;
  &__straight-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    border: 2px solid #EEEEEE;
    padding: 43px 50px;
    position: relative;
    &_photo{
      position: absolute;
      top: 92px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
  &__card-box{
    font-weight: 500;
    color: #666666;
    text-align: center;
    &_number{
      font-size: 70px;
      line-height: 150%;
    }
    &_mean{
      font-size: 18px;
      line-height: 150%;
    }
  }
}


.mail-box{
  overflow: hidden;
  padding: 0 0 90px;
  &__card-box{
    position: relative;
    &_title{
      padding: 138px 0 0;
      font-size: $rule-text-size;
      line-height: 150%;
      font-weight: 600;
      color: #000000;
      margin-bottom: 5px;
    }
    &_mean{
      max-width: 458px;
      font-size: 16px;
      line-height: 150%;
      font-weight: 400;
      color: #666666;
      margin-bottom: 55px;
    }
  }
  &_label{
    display: flex;
    align-items: center;
  }
  &__input{
    background: #EEEEEE;
    font-size: 11px;
    line-height: 150%;
    font-weight: 400;
    color: #666666;
    padding: 17px 20px;
    border: none;
    border-radius: 50px 0 0 50px;
    &_right{
      background: #EEEEEE;
      font-size: 11px;
      line-height: 150%;
      font-weight: 400;
      color: #666666;
      padding: 17px 20px;
      border: none;
      border-radius:0 50px 50px 0 ;
    }
  }
  &__button-box{
    display: flex;
    align-items: center;
    margin-bottom: 138px;
  }
  &_button{
    margin-left: 29px;
  }
  &_photo{
    position: absolute;
    right: -158px;
    top: 0;
  }
}


.plans{
  padding: 87px 0 100px;
  &__title{
    font-size: $rule-text-size;
    line-height: 150%;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 5px;
  }
  &__mean{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #666666;
    text-align: center;
    margin-bottom: 56px;
  }
  &__card-box{
    padding: 63px 79px 70px;
    text-align: center;
    position: relative;
    &_shadow{
      box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
    }
    &_title{
      font-size: $text-size;
      line-height: 150%;
      color: #000000;
      margin-bottom: 6px;
      text-align: center;
      &_orange{
        color: #F25822;
      }
    }
    &_dollar{
      font-size: 18px;
      line-height: 150%;
      font-weight: 400;
      color: #000000;
      position: absolute;
      top:127px;
      left: 91px;
      &-right{
        left: 79px;
      }
    }
    &_text{
      font-size: 70px;
      line-height: 150%;
      font-weight: 700;
      color: #000000;
    }
    &_date{
      font-size: 18px;
      font-weight: 400;
      color: #000000;
    }
    &_item{
      max-width: 212px;
      font-size: 16px;
      line-height: 250%;
      letter-spacing: 3px;
      color: #666666;
      margin: 0 auto 27px;
    }
  }
  &_button{
    padding: 9px 64px;
    font-size: 13px;
    line-height: 250%;
    color: #F3602D;
    background: rgba(242, 88, 34, 0.25);
    &_orange{
      padding: 16px 64px;
      background: #F25822;
      color: #EEEEEE;
    }
  }
}



.team{
  padding: 86px 0 100px;
  &__title{
    font-size: $rule-text-size;
    line-height: 150%;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
    text-align: center;
  }
  &__mean{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #666666;
    text-align: center;
    margin: 0 auto 52px;
    max-width: 461px;
  }
  &__card-box{
    text-align: center;
    border: 1px solid #EEEEEE;
    padding: 50px 70px;
    &_shadow{
      box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
    }
    &_photo{
      margin-bottom: 14px;
    }
    &_name{
      font-size: 20px;
      line-height: 150%;
      font-weight: 500;
      color: #000000;
    }
    &_name-orange{
      color: #F25822;
    }
    &_status{
      font-size: 13px;
      line-height: 150%;
      color: #888888;
      font-weight: 400;
      margin-bottom: 17px;
    }
    &_link{
      text-decoration: none;
    }
    &_media{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}


.testimonials{
  overflow: hidden;
  padding: 93px 0 142px;
  text-align: center;
  &__title{
    font-size: $rule-text-size;
    line-height: 150%;
    color: #000000;
    margin-bottom: 19px;
  }
  &__mean{
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    max-width: 459px;
    margin: 0 auto 55px;
  }
  &__card-boxes{

  }
  &__card-box{
    max-width: 570px !important;
    border: 2px solid #EEEEEE;
    text-align: center;
    padding: 25px 30px 27px;
    margin: 15px 15px 50px;
    &_title{
      max-width: 464px;
      font-size: 16px;
      line-height: 150%;
      font-weight: 500;
      text-align: center;
      color: #888888;
      margin: 0 auto 26px;
    }
    &_photo{
      border-radius: 50px;
      margin-bottom: 10px;
    }
    &_name{
      font-size: 13px;
      line-height: 150%;
      color: #000000;
      font-weight: 700;
    }
    &_position{
      font-size: 13px;
      line-height: 150%;
      color: #888888;
      font-weight: 500;
    }
  }
}
.slick-slide img{
  display: inline;
}
.slick-slide{
  opacity: 0.3;
}
.slick-current{
  opacity: 1;
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  max-width: 570px;
}



.blog-post{
  overflow: hidden;
  padding: 20px 0 100px;
  &__title{
    font-size: $rule-text-size;
    line-height: 150%;
    color: #000000;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
  }
  &__mean{
    max-width: 569px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-align: center;
    color: #666666;
    margin: 0 auto 45px;
  }
  &__card-box{
    border: 2px solid #EEEEEE;
    display: flex;
    flex-wrap: wrap;
    &_title{
      font-size: $text-size;
      line-height: 150%;
      font-weight: 700;
      color: #000000;
      max-width: 324px;
      margin-bottom: 20px;
    }
    &_titer{
      font-size: 11px;
      line-height: 150%;
      color: #888888;
      font-weight: 500;
      display: flex;
      align-items: center;
    }
    &_position{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 22px;
    }
    &_titer-photo{
      margin-right: 9px;
    }
    &_mean{
      font-size: 15px;
      line-height: 150%;
      color: #666666;
      margin-bottom: 26px;
    }
    &_link{
      font-size: 11px;
      line-height: 150%;
      font-weight: 900;
      color: #F25822;
      text-decoration: none;
    }
    &_photo-height{
      width: 370px;
      height: 330px;
    }
  }
  &__sub-card{
    padding: 46px 30px 45px;
  }
}



.footer{
  padding: 100px 0 19px;
  background: #F3F3F3;
  position: relative;
  &::after{
    content: url("../photo/Line 2.png");
    position: absolute;
    bottom: 65px;
    right: 120px;
  }
  &__col{
    width: 27%;
  }
  &__col_mean{
    width: 23%;
  }
  &__logo-box{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  &__logo-photo_item{
    padding-right: 14px;
  }
  &__logo-text_black{
    color: black;
    font-size: $text-size;
    font-weight: bold;
  }
  &__logo-text_orange{
    color: #F25822;
    font-size: $text-size;
    font-weight: bold;
  }
  &__card-box{
    &_mean{
      max-width: 270px;
      font-size: 16px;
      line-height: 160%;
      font-weight: 500;
      color: #666666;
      margin-bottom: 8px;
    }
    &_link{
      text-decoration: none;
    }
    &_media{
      max-width: 150px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title{
    font-size: 24px;
    line-height: 160%;
    font-weight: 800;
    color: #000000;
    margin-bottom: 34px;
  }
  &__nav{
    display: flex;
    align-items: center;
  }
  &__ul{
    list-style-image: url("../photo/list-red.svg");
  }
  &__li{
    margin-bottom: 15px;
  }
  &__link{
    font-size: 16px;
    line-height: 230%;
    font-weight: 500;
    color: #666666;
    text-decoration: none;
    &:hover{
      color: #F3602D;
      text-decoration: underline;
      transition: 300ms;
    }
    &:active{
      color: black;
      text-decoration: none;
    }
  }
  &__location{
    max-width: 219px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #333333;
    &_email{
      color: #333333;
    }
    &_tel{
      color: #333333;
    }
  }
  &__end-title{
    padding: 59px 0 0;
    font-size: 16px;
    line-height: 230%;
    font-weight: 500;
    color: #888888;
    text-align: center;
  }
}
.owl-item{
  width: 770px;
}
.owl-carousel .owl-item img {
  display: block;
}

.bold{
font-weight: 700;
}